@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
	--color-blue: #67aefc;
	--color-dark-blue: #6d79ef;
	--color-light-blue: #daecff;
	--color-green: #75e169;
	--color-light: #fff;
	--color-dark-grey: #484848;
	--color-dark: #111;
	--color-black: #000;
}
